<!DOCTYPE html>
<html>
<head>
	<title>Classify</title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Joan&family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<div class="top-container">
		<div class="manipal">
			<a href="/">
			  <img id="manipal_image"  src="static/manipal_.png" alt="mit_manipal" > </a>
		</div>
		
		
		<a class="active" href="https://www.webmd.com/eye-health/corneal-ulcer"> <h3> More info</h3></a>
		<a class="survey" href="static/Survey_Paper (2).pdf"> <h3>Survey Paper</h3>  </a>
  
		<h1 id="heading">CORNEAL ULCER GRADING SYSTEM</h1>
		<p> <b> An end to end corneal ulcer grading application</b></p>
  
  
  </div>


<div class="middle-container">
  		<h1> Class is {{score}}</h1>
		<img id="class_image" src="{{eyeimg}}" >
</div>

<div class="middle-container-2">
<h1>Prevention</h1>
<h2 style="font-size: 20px;">The best way to prevent a corneal ulcer is to see your eye care provider right away if you have an eye injury or think you have symptoms of a corneal ulcer.
	Contact lens use is the highest risk factor for a corneal ulcer. With this in mind, some helpful tips for contact lens wearers include:
	<ul>
		Always wash your hands before touching your eyes. <br>
		Properly clean and disinfect your contact lenses before and after wearing them. <br>	
		Don't sleep while wearing your contact lenses. Always take them out every night.	<br>
		Don't swim or shower in your contacts.	<br>
		Don't buy contacts from nonmedical sources. <br>
	</ul>	
</h2>

<h1>Treatments</h1>
<h2 style="font-size: 20px;">
	Corneal ulcers are treated with anti-infective medications or surgery if medications aren't an option.
    Medication choice is based on what's causing the infection. 
	Eye drops containing antibiotics (for bacterial infections), antifungals (for fungal infections) and antivirals (for viral infections) are the usual treatments.
	Your eye care provider may sometimes choose oral medication (taken by mouth) or an injection, given near your eye.
	Your eye care provider may also prescribe oral medication to reduce pain. 
	Steroid eye drops are sometimes given to reduce eye inflammation and swelling. 
	Because steroid drops may worsen an infection, you should follow your provider's recommendations about their use.
	
</h2>

</div>


<div class="bottom-container">
	<a class="footer-link" href="https://www.linkedin.com/"><img id="github_image" src="static/github.png" alt=""></a>
	<a class="footer-link" href="contact.html"><img id="contact_image" src="static/contact2.png" alt=""></a>
	
	<p>© Manipal Institute Of Technology</p>
</div>

</body>
</html>