<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="static/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Joan&family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-container">

        <div class="manipal">
            <a href="/">
              <img  id="manipal_image"  src="static/manipal_.png" alt="mit_manipal"></a>
        </div>
        
        
        <a class="active" href="https://www.webmd.com/eye-health/corneal-ulcer"> <h3> More info</h3></a>
        <a class="survey" href="static/Survey_Paper (2).pdf"> <h3>Survey Paper</h3>  </a>
  
        <h1 id="heading">CORNEAL ULCER GRADING SYSTEM</h1>
        <p> <b> An end to end corneal ulcer grading application</b></p>
    </div>


    <div class="middle-container">

        <table class="center">
           
            <tr>
                <td><img class="contact_images" src="static/sj.jpg" alt="Suyash Jhawer"></td>
                <td><p>  suyashjhawer@gmail.com <br> +91-9818879438 </p></td>
                <td><a href="https://www.linkedin.com/in/suyash-jhawer-65a7451a7/"><img class="linkedin"  src="static/linkedin.png" alt="linkedin_image"></a></td>
            </tr>

            <tr>
                <td><img class="contact_images" src="static/mgv.jpg" alt="Megha Shyam Valasa"></td>
                <td> <p>megh2k18@gmail.com <br> +91-9619986172</p> </td>
                <td><a href="https://www.linkedin.com/in/meghashyam-valasa-986298199/"><img class="linkedin"  src="static/linkedin.png" alt="linkedin_image"></a></td>
            </tr>

            <tr>
                <td><img class="contact_images" src="images/kk.jpg" alt="Kunal Kaushal"></td>
                <td> <p>knlkaushal@gmail.com <br> +91-8809782018</p> </td>
                <td><a href="https://www.linkedin.com/in/kunal-kaushal1/"><img class="linkedin"  src="static/linkedin.png" alt="linkedin_image"></a></td>
            </tr>
        </table>

    </div>


    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/"><img  style="padding-top: 15px;" id="github_image" src="static/github.png" alt=""></a>
        <p>© Manipal Institute Of Technology</p>
  </div>

</body>
</html>